<div class="form-group">
    <label>Filter by: </label>
    <select class="form-control" id="sel1" name="by">
      <option>Title</option>
      <option>Artist</option>
      <option>Album</option>
      <option>Year</option>
      <option>BPM</option>
    </select>
</div>
<div class="form-group">
    <input type="text" name="filter"/>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-default" value="Filter">
</div>
<div class="form-group">
    <a href="/songs">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        Reset filter
      </button>
    </a>
</div>
