<% include partials/header %>
<form action="/login" method="post" class="form-horizontal" role="form">
    <% include _formLogin %>
    <a href="/signup">Se registrer</a>
</form>
<% include partials/footer %>
