<% include partials/header %>
   <%if (err) {%>
        <div style="color:red"><%=err%></div>
        <hr/>
   <%} %>
   <form method="POST" action="/songs" class="form-horizontal" role="form">
        <% include _formSong %>
   </form>
<% include partials/footer %>
