<% include partials/header %>
<%if (err) {%>
    <div style="color:red"><%=err%></div>
<%} %>
<hr/>
<form action="/signup" method="post" class="form-horizontal" role="form">
    <% include _formSignup %>
</form>
<% include partials/footer %>
